<!doctype html>
<html lang="en">
<head th:replace="fragments/head :: head('List')"></head>

<body>
<div class="w-75 m-auto text-center">
    <h1>Recipes List</h1>
    <a class="btn btn-danger mb-3" th:href="@{/list/create}">Add</a>
</div>
<div class="container d-flex justify-content-center">
    <div class="card mx-5" style="width: 18rem;" th:each="recipe : ${recipes}">
        <img alt="recipe-img" class="card-img-top" th:src="${recipe.image}">
        <div class="card-body">
            <h5 class="card-title" th:text="${recipe.title}"></h5>
            <p class="card-text" style="text-overflow: ellipsis; white-space: nowrap;overflow: hidden;"
               th:text="${recipe.description}"></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="|Ingredients: ${recipe.ingredients}|"></li>
            <li class="list-group-item" th:text="|Time(hours): ${recipe.time}|"></li>
            <li class="list-group-item" th:text="|Servings: ${recipe.servings}|"></li>
        </ul>
        <div class="card-footer text-center m-auto">
            <a class="btn btn-danger" th:href="@{/list/show/{id}(id = ${recipe.id})}">Details</a>
            <a class="btn btn-danger" th:href="@{/list/edit/{id}(id = ${recipe.id})}">Edit</a>
            <a class="btn btn-danger" th:href="@{/list/delete/{id}(id = ${recipe.id})}">Delete</a>
        </div>
    </div>


</div>

</body>
</html>